<style>
    @font-face {
        font-family: 'Montserrat';
        src: url('/fonts/montserrat/montserrat-regular.eot');
        src: url('/fonts/montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
             url('/fonts/montserrat/montserrat-regular.woff2') format('woff2'),
             url('/fonts/montserrat/montserrat-regular.woff') format('woff'),
             url('/fonts/montserrat/montserrat-regular.ttf') format('truetype'),
             url('/fonts/montserrat/montserrat-regular.svg#montserratbold') format('svg');
        font-weight: 400;
        font-style: normal;

    }
    @font-face {
        font-family: 'Montserrat';
        src: url('/fonts/montserrat/montserrat-bold.eot');
        src: url('/fonts/montserrat/montserrat-bold.eot?#iefix') format('embedded-opentype'),
             url('/fonts/montserrat/montserrat-bold.woff2') format('woff2'),
             url('/fonts/montserrat/montserrat-bold.woff') format('woff'),
             url('/fonts/montserrat/montserrat-bold.ttf') format('truetype'),
             url('/fonts/montserrat/montserrat-bold.svg#montserratlight') format('svg');
        font-weight: 700;
        font-style: normal;

    }
    body {
        font-family: "Montserrat";
    }
</style>
